

table {
    border-spacing: 0px;
    padding: 1em;
    margin-top: 1.5em;
    margin-bottom: 2em;    
}
th {
    border-bottom: 1px solid #005A9C;
    font-weight: bold;
    padding: 0.5em;
    font-weight: bold;
    color: #000090;
    font-size: 90%
}
td {
    border-bottom: 1px solid #005A9C;
    border-right: 1px solid #efefef;
    padding: 0.5em;
    text-align: left
}
tr td:last-child {
    border-right: none;
}
td *, td > * {
    text-align: left;
}
table, tbody {
    padding: 0;
}

caption {
    text-align: left;
    font-size: 90%
}

.tbl-group {
	text-align: left;
	border-bottom: none;
	color: rgb(0, 0, 0);
	background-color: rgb(240, 248, 255);
}

table#tbl-core-media-types > thead > tr > th,
table#tbl-epubReadingSystem-properties > thead > tr > th,
table#tbl-epubReadingSystem-features > thead > tr > th {
    background-color: rgb(240,240,240);
    text-align: left;
    white-space:nowrap;
}

table#tbl-core-media-types > tbody > tr > th {    
    text-align: left;
    font-weight: normal;
    font-style: italic;
    padding: 3px;
}

table#tbl-core-media-types td, table#tbl-core-media-types th, table#tbl-core-media-types tr {
    border-color: #005A9C;
    margin: 0em;
}

table#tbl-core-media-types td code, table#tbl-core-media-types td a {
    white-space:nowrap;
}

td[headers="tbl-cmt-appl"] {
    font-size: .9em;
}
